<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
      @Styles.Render("~/Content/bootstrap")
        <script src="~/Scripts/jquery.min.js"></script>
        @Scripts.Render("~/bundles/modernizr")
    @RenderSection("nicescroll", required:false)
</head>
<<body class="error">
     <div class="wrapper">
         @RenderBody()
     </div>
</body>
</html>
