@model YouthConference.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_template.cshtml";
}


<header>
    <br/>
    <br/>
    <br/>
  
</header>
            <section>				
                <div id="container_demo" >
                    <div class="span4 pull-right">
                        <div id="wrapper">
                            <div id="login" class="animate form">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {autocomplete = "off"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <h1>Log in</h1> 
                                    <p> 
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, new{placeholder="Username or email address"})
                                    </p>
                                
                                    <p>
                                        @Html.LabelFor(m => m.Password) 
                                        @Html.PasswordFor(m => m.Password, new{placeholder="Password"})
                                    </p>
                                    <p class="login button"> 
                                        <input type="submit" value="Login" /> 
                                    </p>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </section>

